
.gBtn {
	margin: 1px;
	color: #fff;
	background-color: rgba(0,60,136,0.5);
	font-size: 1.14em;
	font-weight: 700;
	border:none;
	border-radius: 2px;
	width: 1.37em;
	padding: 0;
}

.gBtn:hover {
	background-color: rgba(0,60,136,0.7);
}

#divGraph {
	z-index: 10000;
	background-color: #F3F3F3;
	color: #000000;
	position: fixed;
	top: 0;
	left: 0;
	padding: 5px;
}

svg {
	width: 100%;
	height: 100%;
}

.g4g-download {
	z-index: 10001;
	background-color: #FFFFFF;
	color: #000000;
	position: fixed;
	top: 10px;
	right: 8px;
	padding: 1px;
	opacity: 0.95;
}

.g4g-filter {
	z-index: 10000;
	background-color: #FFFFFF;
	color: #000000;
	position: fixed;
	top: 10px;
	right: 8px;
	padding: 1px;
	opacity: 0.95;
}

.g4g-grafo {
	z-index: 9999;
	background-color: #FFFFFF;
	color: #000000;
	position: fixed;
	top: 35px;
	right: 8px;
	padding: 1px;
	opacity: 0.95;
}

.g4g-tabela {
	z-index: 9998;
	background-color: #FFFFFF;
	color: #000000;
	position: fixed;
	top: 60px;
	right: 8px;
	padding: 1px;
	opacity: 0.95;
}


.labelCarregando {
	z-index: 10000;
	background-color: #C3C3C3;
	color: #000000;
	position: fixed;
	top: 0;
	left: 0;
	padding: 5px;
}

.labelLegenda {
	z-index: 10000;
	background-color: #C3C3C3;
	color: #000000;
	position: fixed;
	bottom: 15px;
	right: 0;
	padding: 5px;
}
.labelLegenda table {
	min-width: 60px;
}
.labelLegenda td {
	text-align: center;
	padding: 2px;
	font-size: 0.8em;
}

.labelPosition {
	z-index: 10000;
	background-color: #C3C3C3;
	color: #000000;
	position: fixed;
	padding: 5px;
	left: 0;
	bottom: 0;
	font-size: 0.8em;
}
.labelPosition label {
	text-decoration: none;
	font-weight: normal;
}

#map {
	width: 100%;
	height: 100%;
}

.ol-popup {
	position: absolute;
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #cccccc;
	bottom: 12px;
	left: -50px;
	min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
}
.ol-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}
.ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
}
.ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
}
.ol-popup-closer:after {
	content: "✖";
}

.rotate-north {
	top: 65px;
	left: .5em;
}
.ol-touch .rotate-north {
	top: 80px;
}


